body {
    background-color: aquamarine;
}

.Resultado {
    display: block;
    float: right;
    margin-right: 200px;
}

.Tabla {
    margin-bottom: 10px;
}

.Tipo {
    margin-bottom: 10px;
}

.Longitud {
    margin-bottom: 10px;
}